*{
    margin: 0;
    height: 100%;
}

#page1 {
	background-color: #324d5c;
	margin: 0px;
	font-family: century gothic;
	font size: 14px;
    width: 100%;
   height: 50%;
}

#img-container{
    background-image: url(banner.jpg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    margin: 20px;
    transition: opacity 0.5s ease-in-out;

}

#img-container:hover {
    opacity: 0.4;
}
#navbar {
    height: 0%;

}

#navbar ul {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    background-color: #f26a44;
    margin: 20px;
    border-radius: 5px;
    height: 27px;
}
#navbar ul li{
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .2em 4em;
    color: #fff;
    font-size: 150%;
    background-color: #f26a44;
}
#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
    
    }

    img {

        height: 330px;
        margin: 10px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 5px;

    
    }

    img:hover {
        opacity: 0.4;
        height: 325px;
    }
